
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.lightcontainer {
    width: 100px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* Light Bulb Base Style */
  .light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  /* Red Light Style */
  .red {
    background-color: red;
  }
  
  /* Yellow Light Style */
  .yellow {
    background-color: yellow;
  }
  
  /* Green Light Style */
  .green {
    background-color: green;
  }

  .redshadow {
    background-color: red;
    box-shadow: 0 0 20px 10px rgba(245,22,67,1);
}

  .yellowshadow {
    background-color: yellow;
    box-shadow: 0 0 20px 10px rgba(245, 214, 12, 1);
  }

  .greenshadow {
    background-color: green;
    box-shadow: 0 0 20px 10px rgba(24, 245, 12, 1);
  }